*{
  padding :0px;
  margin :0px;
}

#top{
  color:white;
  font-size:10px;
    transform:translatey(-200%) translatex(10px);
  
  
}
#top span{
  float:right;
  transform:translatey(-50px);
}
#top a{
  color:white;
}
.row{ 
display: table;
 width: 100%; /*Optional*/
 table-layout: fixed; /*Optional*/ 
border-spacing: 2px;
} 
.column1{
 display: table-cell;
margin:50px;
border-right:2px solid black;
    width:60%;
}
.column2{
 display: table-cell;
margin:50px;
border-left:20px solid #00000000;
    width:40%;
}